nav.nav-pills > span{
    user-select: none;
}

.hidden{
    display: none;
}

form{
    margin-top: 1em;
    overflow: auto;
}

form > div{
    margin-bottom: 1em;
}

table{
    font-size: 0.8em;
}

th.shrink{
    width: 1%;
}

ul#modal_file_list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
}

#progress_bar{
    overflow: hidden;
    max-height: 0%;
    transition: 0.6s;
    position: relative;
}

#progress_bar > span{
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 0.8em;
}
