#header{
    background-color: #000;
    border: none;
    color: #ED145A;
}

#nav > a > li:hover, #nav > li:hover{
    border: none;
    color: #18D8F0;
}

#nav li.current{
    border: none;
    color: #18D8F0;
}

/* Dropdown Settings Menu */

#nav ul.settings_menu{
    background: #151c25;
    border: none;
}

#nav ul.settings_menu li:hover{
    background-color: #18D8F0;
    color: #000;
}
