input[type="number"], input[type="text"]{
    border: 1px solid #ccc;
    background-color: #151c25;
}

div#info_pop_up a{
    color: #fff;
}


iframe#trailer{
    background: url('../images/logo_bg.png') no-repeat 50% 50% transparent;
}

/* Quality slide in panel */
ul#quality li.rbord{
    border-right: 1px solid #ccc;
}
