input[type="number"], input[type="text"]{
    border: none;
    background-color: #fff;
    border-radius: 24px;
    color: #000;
}

h1{
    color: #18D8F0;
}

h2{
    color: #ED145A;
}

div#content ul li.bbord{
    border-bottom: 1px solid #252c35;
}

div#content ul li.rbord{
    border-right: 1px solid #bdbdbd;
}

div#content ul li.lbord{
    border-left: 1px solid #bdbdbd;
}

div.quality div.quality_profile{
    background-color: #fff;
    color: #000;
}

div.quality div.quality_profile input{
    background-color: #000;
    color: #fff;
}

div.quality table#sources tr:nth-child(even){
    background: #252c35;
}

div.quality table#sources input{
    background-color: #fff;
    color: #000;
}

div.plugins ul{
    background-color: #000;
}

/* For log file viewing */
pre#log_display {
    border: 1px solid #ccc;
    background-color: #000;
}
