<!DOCTYPE HTML5>
<html>
    <head>
        ${head}
        <link href="${url_base}/static/css/system/shutdown.css?v=001" rel="stylesheet">
        <script src="${url_base}/static/js/system/shutdown.js?v=002" type="text/javascript"></script>
        <meta name="enable_notifs" content="false">
    </head>
    <body>
        <div id="content" class="container-fluid">
            <div class="message">${_('Shutting Down')}</div>
            <div id="thinker">
                <i class="mdi mdi-circle-outline animated"></i>
            </div>
        </div>
    </body>
</html>
