<!DOCTYPE>
<html>
    <head>
        ${head}
        <link href="${url_base}/static/css/system/update.css?v=06.02" rel="stylesheet">
        <script src="${url_base}/static/js/system/update.js?v=06.06"  type="text/javascript"></script>
        <meta name="enable_notifs" content="false">
        <meta name="updating" content="${updating}">
    </head>
    <body>
        <div id="content" class="container-fluid">
            <div class="message">Updating</div>
            <div id="thinker">
                <i class="mdi mdi-circle-outline animated"></i>
            </div>
        </div>
    </body>
</html>
