<!DOCTYPE HTML5>
<html>
    <head>
        <meta name="enable_notifs" content="false">
        ${head}
        <link href="${url_base}/static/css/system/update.css?v=010" rel="stylesheet">
        <script src="${url_base}/static/js/system/update.js?v=012" type="text/javascript"></script>
        <meta name="updating" content="${updating}">
    </head>
    <body>
        <div id="content" class="container">

            <div class="tasks hidden">
                <h4>${_('Waiting for tasks to finish...')}</h4>

            </div>


            <div class="updating hidden">${_('Updating')}</div>
            <div id="thinker">
                <i class="mdi mdi-circle animated"></i>
            </div>
        </div>
    </body>
</html>
