.hidden{
    display: none;
}

/* Tool bar/button groups */
#toolbar > div{
    margin-bottom: 1em;
    text-align: center;
    padding: 0;
}

.btn-group > label{
    margin: 0;
}

/* Movie list items */
.card{
    cursor: pointer;
}

.card-body{
    padding: 0.25em;
}

.card-body span.score,
.card-body span.year{
    font-size: 0.8em;
    opacity: 0.6;
}

span.score > i{
    width: 0.75em;
}

ul#movie_list{
    margin: 0 1.5em 1.5em 1.5em;
}

/* Poster style layout */
ul#movie_list.posters{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

ul#movie_list.posters li{
    width: 10em;
    margin: 1em 0.5em;
    text-align: center;
}

.card-img-top{
    max-height: 14.75em;
}

/* List style layout */
ul#movie_list.list li div.card{
    width: 100%;
    text-align: left;
    height: 5em;
    line-height: 1.75em;
    position: relative;
    margin: 0.25em 0;
    display: inline-block;
    border-radius: 0;
}

ul#movie_list.list li img{
    height: 4.95em;
    box-shadow: none;
    margin: 0 0.5em 0 0;
    float: left;
    max-width: 3.5em;
    border-radius: 0;
}

ul#movie_list.list li div.card-body,
ul#movie_list.list li h6.card-title{
    padding: 0;
    margin: 0;
}

ul#movie_list.list li .card-title{
    line-height: 2em;
    font-size: 1.25em;
}

/* Compact style layout */
ul#movie_list.compact div.card{
    border-radius: 0;
}

ul#movie_list.compact li:not(:last-child) div.card{
    border-bottom: 0px;
}

ul#movie_list.compact li div.card-body{
    height: 2em;
}

ul#movie_list.compact li img{
    display: none;
}

ul#movie_list.compact li span.badge.status{
    margin: .25em 1em .25em .25em;
    float: left;
}

ul#movie_list.compact li h6.card-title{
    display: inline-block;
    margin: 0;
}

ul#movie_list.compact li span.score{
    float: right;
}


div#hidden_count{
    text-align: center;
}

/* Status Modal */

div#modal_details span.year{
    opacity: 0.6;
    font-size: 0.75em;
}

div.modal-badges{
    padding: 0.5em 1em;
}

div.modal-badges > .badge{
    font-size: 0.8em;
    height: 1.75em;
    line-height: 1.25em;
    margin-bottom: .25rem;
    font-weight: normal;
}

div.modal-badges > .badge i.mdi{
    vertical-align: unset;
}

img.poster{
    margin-bottom: 1em;
    max-height: 18em;
}

div#movie_actions{
    text-align: center;
}

div#movie_actions > div{
    margin: 0.25em 0;
}

div.modal-body p.plot{
    text-indent: 1.5em;
}

/* Search Results table */
ul#search_results_table{
    overflow-y: scroll;
    max-height: 18em;
    transition: .6s;
    padding: 0;
    margin: 0;
}

ul#search_results_table li:nth-of-type(odd){
    background-color:rgba(0,0,0,.05)
}
