.hidden{
    display: none;
}

/* Tool bar/button groups */
#toolbar > div{
    margin-bottom: 1em;
    text-align: center;
    padding: 0;
}

.btn-group > label{
    margin: 0;
}

/* Movie list items */
.card{
    cursor: pointer;
}

.card-body{
    padding: 0.25em;
}

.card-body span.score,
.card-body span.year{
    font-size: 0.8em;
    opacity: 0.6;
}

span.score > i{
    width: 0.75em;
}

ul#movie_list {
    margin: 0 0 1.5em 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

ul#movie_list.posters li{
    width: 10em;
    margin: 1em 0.5em;
    text-align: center;
}

.card-img-top{
    max-height: 14.75em;
}

/* List style layout */
ul#movie_list.list > li{
    flex-basis: 28em;
}

ul#movie_list.list > li div.card{
    width: 100%;
    display: inline-block;
    margin-bottom: 0.5em;
}

ul#movie_list.list > li img{
    box-shadow: none;
    float: left;
    width: 3.5em;
    border-radius: .25rem;
    margin-right: 0.5em;
}

ul#movie_list.list > li h6{
    font-size: 1.125em;
    line-height: 1.4em;
}

ul#movie_list.list > li span.badge{
    position: absolute;
    bottom: 0.75em;
    left: 5.5em;
}

ul#movie_list.list > li span.score{
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
}

/*
ul#movie_list.list li img{
    height: 4.95em;
    box-shadow: none;
    margin: 0 0.5em 0 0;
    float: left;
    max-width: 3.5em;
    border-radius: 0;
}

ul#movie_list.list li div.card-body{
    padding: 0;
    margin: 0;
}

ul#movie_list.list h6{
    padding: 0;
    margin: 0;
} */


/* Compact style layout */
ul#movie_list.compact > li{
    flex-basis: 28em;
    margin-bottom: 0.25em;
}

ul#movie_list.compact li:not(:last-child) div.card{
    border-bottom: 0px;
}

ul#movie_list.compact li div.card-body{
    height: 2em;
}

ul#movie_list.compact li img{
    display: none;
}

ul#movie_list.compact li span.badge.status{
    margin: .25em 1em .25em .25em;
    float: right;
}

ul#movie_list.compact li h6.card-title{
    max-width: calc(100% - 5.5em);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: top;
    display: inline-block;
    margin-left: 0.5em;
}

ul#movie_list.compact li span.score{
    display: none;
}

div#hidden_count{
    text-align: center;
}

/* Status Modal */

div#modal_details span.year{
    opacity: 0.6;
    font-size: 0.75em;
}

div.modal-badges{
    padding: 0.5em 1em;
}

div.modal-badges > .badge{
    font-size: 0.8em;
    height: 1.75em;
    line-height: 1.25em;
    margin-bottom: .25rem;
    font-weight: normal;
}

div.modal-badges > .badge i.mdi{
    vertical-align: unset;
}

img.poster{
    margin-bottom: 1em;
    max-height: 18em;
}

div.modal-body p.plot{
    text-indent: 1.5em;
}

i#switch_settings{
    transition: 0.25s;
}

div#settings_basic,
div#settings_advanced{
    transition: 0.75s;
    opacity: 1.0;
    max-height: 13.5em;
    overflow-y: hidden;
}

div#settings_basic > div,
div#settings_advanced > div{
    margin-bottom: 1em;
}

div#settings_basic.hide,
div#settings_advanced.hide{
    opacity: 0.0;
    max-height: 0em;
}

div#settings_advanced span.input-group-text{
    font-size: 0.8em;
}

/* Search Results table */
ul#search_results_table{
    overflow-y: scroll;
    max-height: 18em;
    transition: .6s;
    padding: 0;
    margin: 0;
}

ul#search_results_table li:nth-of-type(odd){
    background-color:rgba(0,0,0,.05)
}
