/* search bar */
#search_box{
    margin: 0 auto;
    width: 60%;
    max-width: 1024px;
}

input#search_input{
    height: 32px;
    width: calc(100% - 64px);
    font-size: 2em;
    padding: 8px;
    margin: 32px 0;
    border: none;
    background-color: #151c25;
    border-radius: 4px 0 0 4px;
    font-family: Raleway, sans-serif;
}

button#search_button{
    float: right;
    width: 48px;
    height: 48px;
    margin: 32px 0;
    outline: none;
    color: #ccc;
    background-color: #151c25;
    border-radius: 0 4px 4px 0;
	border: none;
}

button#search_button:hover{
    background-color: #ccc;
    color: #151c25;
    border-radius: 4px;
}

/* results fade-in */
#database_results{
    display: none;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 0 2em 0;
}

ul#movie_list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

ul#movie_list li{
    width: 200px;
    margin: 0 1.5em 1.5em 1.5em;
    text-align: center;
    position: relative;
}

ul#movie_list li img{
    width: 100%;
    height: 300px;
    margin: 0 0 5px 0;
    float: left;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

span.quickadd{
    position: absolute;
    cursor: pointer;
    background-color: #080f18;
    top: 15em;
    left: 0;
    padding: 0.25em .4em .25em 0.4em;
    color: #ccc;
    height: 1.5em;
    line-height: 1.5em;
    border-radius: 0 .5em .5em 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

span.quickadd_text{
    display: none;
    overflow-y: hidden;
    text-overflow: clip;
    word-break: break-all;
    text-align: left;
}

i.button_add{
    margin-left: 0.4em;
    float: right;
}


#info_pop_up {
    background: #151c25;
    border-top: 1px solid #ccc;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: none;
    z-index:1002;
}
