input[type="number"]{
    width: 4em;
}

table{
    margin: 1em 0 2em 0;
    font-size: 1.0em;
    width: 100%;
}

table tr:nth-child(odd){
    background-color: #151c25;
}

table tr{
    padding: 0.1em 0;
    margin: 0.1em 0;
}

table i{
    font-size: 1.25em;
    margin: 0 0.5em;
}

div#content{
    margin: 2em auto 0 auto;
    width: 100%;
    max-width: 1024px;
    min-width: 650px;
    text-align: center;
}

/* File browser */
div#browse{
    background-color: #151c25;
    font-size: 2em;
    line-height: 1.5em;
    vertical-align: middle;
    cursor: pointer;
    display: inline-block;
    font-size: 0.85em;
    padding: 0.1em 0.75em;
    border-radius: 4px;
}

div#browser{
    position: fixed;
    z-index: 1005;
    top: 12%;
    left: 25%;
    width: 50%;
    height: 75%;
    background-color: #080f18;
    border-radius: 4px;
    padding: 1.5em;
}

div#browser div#current_dir{
    margin: 0 0 1em 0;
    background-color: #151c25;
    border-radius: 4px;
    width: 100%;
    height: 2em;
    line-height: 2em;
}

div#browser_actions{
    margin: .25em 0 0 0;
    height: 1.5em;
    line-height: 1.5em;
    font-size: 1.5em;
}

div#browser_actions i{
    margin: 0 1em;
}

div#browser ul{
    height: calc(100% - 7em);
    padding: 1em;
    background-color: #151c25;
    border-radius: 4px;
    overflow-y: scroll;
}

div#browser ul li{
    background-color: #080f18;
    margin: 0.5em;
    text-align: left;
    padding: 0.25em 0.5em;
    border-radius: 4px;
    cursor: pointer;
}

div#directory_info span,
div#directory_info i#start_scan,
div#directory_info i.checkbox{
    font-size: 1.5em;
    height: 2.5em;
    line-height: 2.5em;
    vertical-align: middle;
}

div#directory_info span{
    text-align: center;
}

span#start_scan{
    display: inline-block;
    cursor: pointer;
    font-size: 3em;
    margin: 3em auto 0 auto;
}

div#wait{
    display: none;
    margin-bottom: 2em;
}

a span{
    vertical-align: middle;
}

span#not_found{
    font-size: 1.5em;
    line-height: 2.0em;
}

/* Files list*/
div#list_files{
    display: none;
}

div#list_files .title{
    font-size: 1.25em;
}

div#list_files tr{
    height: 2em;
}

div#list_files span#import{
    font-size: 1.5em;
    margin-bottom: 2em;
    display: inline-block;
}

div#results{
    display: none;
}

a#finished{
    font-size: 1.5em;
}

#thinker{
    width: 40px;
    height: 40px;
}

@-webkit-keyframes sk-scaleout {
    0% { -webkit-transform: scale(0) }
    100% { -webkit-transform: scale(5.8);
        opacity: 0;
        }
}

@keyframes sk-scaleout {
    0% { -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% { -webkit-transform: scale(5.8);
            transform: scale(5.8);
            opacity: 0;
            }
}
