body{

    background-image: url('../images/logo_big.png');
    background-position: 50% 25%;
    background-repeat: no-repeat;
}


div.row{
    position: absolute;
    top: 50%;
    left: 0%;
    right: 0%;
}

div.row > div{
    margin-bottom: 1em;
}
