ul#subnav{
    width: 100%;
    margin: 0 0 2em 0;
}

ul#subnav a{
    padding: 0.5em 1em;
    margin: 0;
    font-size: 1.25em;
    display: inline-block;
    cursor: pointer;
    border-top: 4px solid transparent;
}

ul#subnav li{

}

ul#subnav a.active,
ul#subnav a:hover{
    box-sizing: border-box;
    border-top: 4px solid #ccc;
}

table#movie_table{
    margin: 1em auto;
}

table#movie_table th,
table#movie_table tr{
    padding: 0 1em 0 1em;
    text-align: center;
}

table#movie_table tr:nth-child(odd){
    background-color: #151c25;
}

table#movie_table i.checkbox{
    font-size: 1.5em;
}

table img{
    height: 6em;
}

div#select_actions{
    margin: 1em auto;
}

table#actions{
    margin: 0 auto 2em auto;
    text-align: left;
}

table#actions td{
    padding: 0.5em 0;
}

select{
    height: 2em;
    font-size: 0.85em;
}

table#errors{
    margin: 0 auto;
    border-collapse: collapse;
}

table#errors td{
    padding: 0.25em;
}

table#errors tr:not(:first-child) td{
    border-top: 1px solid #ccc;
}

.sweet-alert button.confirm[disabled] ~ .la-ball-fall{
    top: 20%;
}

/* Stats */
div#_stats{
    text-align: center;
}

div#_stats h1{
    margin-top: 0;
}

span#generate_stats{
    font-size: 1.5em;
    display: block;
    cursor: pointer;
}

span.tip{
    font-size: 0.9em;
}

div.chart_box{
    color: #ccc;
    overflow: auto;
    background: #151c25;
    border-radius: 1em;
    margin: 2.5%;
    padding: 2.5%;
}

div.chart_box{
    line-height: 2em;
}

div#chart_status,
div#chart_qualities{
    width: 40%;
    display: inline-block;
    float: left;
}

div#chart_status svg path,
div#chart_qualities svg path{
    stroke: transparent;
}
