ul{
    clear: none;
}

div#container i{
    font-size: 1.5em;

}

.bold{
    font-weight: bold;
}

div#container{
    padding: 1em;
    max-width: 912px;
    margin: 0 auto;
}

div#title p{
    margin: 0 0 1em 0;
    height: 2em;
    line-height: 2em;
}

div#title span#title{
    font-size: 2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 78%;
}

div#title span#year{
    font-size: 1.25em;
    opacity: 0.65;
    margin-left: 0.25em;
}

div#title i{
    float: right;
    margin-left: 0.5em;
}

div#media{
    margin: 0 0 1em 0;
    overflow: hidden;
}

div#media img#poster{
    height: 360px;
    float: left;
    max-width: 255px;
    border-radius: 4px;
}

div#search_results {
    float: right;
    width: 640px;
    height: 360px;
    position: relative;
}

ul#result_list{
    border-radius: 4px;
    font-size: .9em;
    overflow-y: scroll;
    height: 360px;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 99%;
    width: 100%;
    background-color: #151c25;
}

ul#result_list li{
    overflow: hidden;
	margin: 0 0 0 8px;
}

ul#result_list li.title{
    height: 1.5em;
    font-size: 1.2em;
    padding: .25em .25em 0em .25em;
}

ul#result_list li span.name{
    width: calc(100% - 4.5em);
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
}

ul#result_list li span.buttons{
    float: right;
}

ul#result_list li i{
    margin: 0 0 0 .25em;
    padding: 0;
    width: 1rem;
    font-size: 1em;
}

ul#result_list li.data{
    padding: 0 .25em .25em .25em;
    font-size: .85em;
}

ul#result_list li.bbord{
    border-bottom: 1px solid #ccc;
}

span.bad{
    color: #F44336;
}

li.data span.snatched{
    color: #00BCD4;
}

li.data span.finished{
    color: #4CAF50;
}

div#additional_info{
    height: 2em;
}

div#additional_info span{
    padding: 0;
    margin: 0 1em 0em 0;
    line-height: 2em;
    float: left;
}

div#options{
    height: 2em;
    line-height: 2em;
}

div#options span, div#options i{
    line-height: 2em;
    vertical-align: middle;
    margin-right: 1em;
}

div#options i{
    font-size: 1.25em;
    margin-top: 0;
    margin-bottom: 0;
}

div#results_thinker{
	width: 40px;
    height: 40px;
    margin: 0 auto;
    background-color: #ccc;
    display: none;
    position:absolute;
    bottom: calc(50% - 20px);
    right: calc(50% - 20px);
    -webkit-animation: sk-scaleout 2.0s infinite ease-in-out;
    animation: sk-scaleout 2.0s infinite ease-in-out;
    border-radius: 50%;
    opacity: 0.5;
}
