#header{
    background-color: #151c25;
    height: 64px;
    padding: 0;
    margin: 0;
    width: 100%;
    border-bottom: 1px solid #ccc;
    clear: both;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    user-select: none;
}

#header_container{
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
    height: 100%;
}

#header span#logo{
    background: url('/static/images/logo.png') no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0.5em;
    z-index: -10;
}

#nav{
    float: right;
    padding: 0;
    margin: 0;
    list-style: none;
}

#nav li{
    float: right;
    height: 64px;
    line-height: 64px;
    padding: 0 24px;
    font-size: 1.5em;
    box-sizing: border-box;
}

#nav > a > li:hover, #nav > li:hover{
    border-bottom: 4px solid #ccc;
}

#nav li.current{
    border-bottom: 4px solid #ccc;
}

/* Dropdown Settings Menu */

#nav li.settings{
    position: relative;
}

#nav ul.settings_menu{
    display: none;
    position: absolute;
    background: #151c25;
    box-sizing: border-box;
    border: 1px solid #ccc;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    left: 0;
}

#nav ul.settings_menu li{
    margin: 0;
    padding: 0;
    height: 2em;
    line-height: 2em;
    font-size: 0.60em;
    display: block;
    text-align: left;
    width: 100%;
    float: none;
}

#nav ul.settings_menu li i{
  font-size: 0.9em;
  margin: 0 0 0 0.5em;
}

#nav ul.settings_menu li:hover{
    background-color: #080f18;
    color: #ccc;
}

#nav li.settings:hover .settings_menu{
    display: block;
    z-index: 1;
}

/* Breakpoint 2 */
@media only screen and (max-width: 625px) {

    div#header_container{
        text-align: center;

    }

    #header{
        min-width: 375px;
        margin: 0 auto;
    }

    #header span#logo{
        background: url('/static/images/logo_small.png') no-repeat 0 0;
    }
}

@media only screen and (max-width: 500px){
    #header span#logo{
        background: none;
    }

    #nav{
        float: none;
        text-align: center;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    #nav li{
        float: none;
        flex: 0 1 auto;
        font-size: 1.25em;
        padding: 0 1em;
    }
}
