body{
    margin: 5em 0 2em 0;
}

input{
    font-size: 1em;
    line-height: 1.5em;
}

a{
    cursor: pointer;
}
a:hover{
    text-decoration: none;
}

i.mdi{
    font-size: 1.2em;
    width: 1.25em;
    display: inline-block;
    vertical-align: middle;
    user-select: none;
    cursor: pointer;
    transition: none;
}

i.mdi.animated{
    animation: material-zoom 2s infinite;
}

@keyframes material-zoom {
    0%{
        transform: scale(0.0);
        opacity: 0;
    }
    50%{
        opacity: 1.0;
    }
    100%{
        transform: scale(1.5);
        opacity: 0;
    }
}

ul{
    list-style: none;
    padding: 0;
}

textarea, input, button{ outline: none; }

ul.sortable{
    transition: none;
}

div.container-fluid{
    max-width: 960px;
}

/* Nav Bar */
.navbar{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.25);
}

ul.nav > li > a{
    height: 3em;
    padding: 0 1em;
    line-height: 3em;
}

.navbar div.navbar-right > a.btn{
    font-size: 1.25em;
}


/* Notification Animations */
.animated{
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes fadeInDown{
    0%{
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }

    100%{
        transform: none;
        opacity: 1;
    }
}

.fadeInDown{
  animation-name: fadeInDown;
}

@keyframes fadeOutDown{
    0%{
        opacity: 1;
        transform: none;
    }

    100%{
      opacity: 0;
      transform: translate3d(100%, 0, 0);
    }
}

.fadeOutDown{
  animation-name: fadeOutDown;
}


/* Loading Animation */
#thinker{
    transition: none;
    display: none;
    width: 4em;
    font-size: 4em;
	position: absolute;
    bottom: calc(50% - 2em);
    right: calc(50% - 2em);
	opacity: 1;
    text-align: center;
}

#thinker i{
    vertical-align: middle;
}

.thinker_small{
    transition: none;
    display: none;
    width: 100%;
    font-size: 2em;
    padding: 0.5em 0;
	opacity: 1;
    text-align: center;
}

/* Always hide hacks at the bottom and hope nobody sees it */

/* Bootstrap adds a padding-right of 17px when opening modals. I'm not sure why.
    This prevents it from shifting content and showing modals off-center;
*/
.modal,
.modal-open {
    padding-right: 0px !important;
}
