h1 {
    display: block;
    width: 100%;
}
h3{
    margin-left: 0.5em;
}

h5{
    display: inline-block;
    margin: 0;
}

table#tasks{
    margin: 0 1em;
    width: calc(100% - 2em);
}

#donate{
    padding-top: 2em;
    font-size: 0.8em;
    margin: 0 auto;
    text-align: center;
}

.hidden{
    display: none;
}

.modal-body label{
    margin: 0;
    overflow: hidden;
}

.modal-body > div.text_content{
    transition: .6s;
    max-height: 100%;
    overflow: hidden;
}

div.progress{
    transition: .6s;
    max-height: 0%;
    overflow: hidden;
}
