<!DOCTYPE HTML5>
<html>
    <head>
        ${head}
        <script src="${url_base}/static/js/settings/shared.js?v=012" type="text/javascript"></script>
        <script src="${url_base}/static/js/settings/downloader.js?v=013" type="text/javascript"></script>

        <link href="${url_base}/static/css/settings/shared.css?v=010" rel="stylesheet">
        <link href="${url_base}/static/css/settings/downloader.css?v=010" rel="stylesheet">
    </head>
    <body>
        ${navbar}
        <div class="container">
            <h1>${_('Download Clients')}</h1>

            <h2 class="mt-4">${_('Usenet')}</h2>
            <div class="card mb-3">
                <div class="card-header">
                    <div class="input-group">
                        <select id="usenet_client" class="form-control">
                            <option value="" selected="false">${_('Disabled')}</option>
                            <option value="NzbGet">NzbGet</option>
                            <option value="Sabnzbd">Sabnzbd</option>
                            <option value="BlackHole">${_('Black Hole')}</option>
                        </select>
                        <div class="input-group-append">
                            <button class="btn btn-outline-success form-control" onclick="test_connection(event, this, 'usenet')">
                                <i class="mdi mdi-lan-pending"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div id="usenet_client_settings" class="card-body bg-light">
                    <!-- NZBGET -->
                    <div id="NzbGet" class="row" data-enabled="${config['Usenet']['NzbGet']['enabled']}">
                        <div class="col-md-6">
                            <label>${_('Host')}</label>
                            <input type="text" data-id="host" class="form-control" placeholder="localhost" value="${config['Usenet']['NzbGet']['host']}">
                        </div>
                        <div class="col-md-6">
                            <label>${_('Port')}</label>
                            <input type="number" data-id="port" class="form-control" placeholder="6789" value="${config['Usenet']['NzbGet']['port']}">
                        </div>
                        <div class="col-md-6">
                            <label>${_('User Name')}</label>
                            <input type="text" data-id="user" class="form-control" placeholder="" value="${config['Usenet']['NzbGet']['user']}">
                        </div>
                        <div class="col-md-6">
                            <label>${_('Password')}</label>
                            <input type="text" data-id="pass" class="form-control" placeholder="" value="${config['Usenet']['NzbGet']['pass']}">
                        </div>
                        <div class="col-md-6">
                            <label>${_('Category')}</label>
                            <input type="text" data-id="category" class="form-control" placeholder="Watcher" value="${config['Usenet']['NzbGet']['category']}">
                        </div>
                        <div class="col-md-6">
                            <label>${_('Priority')}</label>
                            <select data-id="priority" class="form-control" value="${config['Usenet']['NzbGet']['priority']}">
                                <option value="Very Low">${_('Very Low')}</option>
                                <option value="Low">${_('Low')}</option>
                                <option value="Normal">${_('Normal')}</option>
                                <option value="High">${_('High')}</option>
                                <option value="Forced">${_('Forced')}</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label>${_('Add Paused')}</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="input-group-text">
                                        <i data-id="addpaused" class="mdi mdi-checkbox-blank-outline c_box" value="${config['Usenet']['NzbGet']['addpaused']}"></i>
                                    </button>
                                </div>
                                <span class="input-group-item form-control">
                                    ${_('Add NZBs in Paused state.')}
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- SABNZBD -->
                    <div id="Sabnzbd" class="row" data-enabled="${config['Usenet']['Sabnzbd']['enabled']}">
                        <div class="col-md-6">
                            <label>${_('Host')}</label>
                            <input data-id="host" type="text" class="form-control" placeholder="localhost" value="${config['Usenet']['Sabnzbd']['host']}">
                        </div>
                        <div class="col-md-6">
                            <label>${_('Port')}</label>
                            <input type="number" data-id="port" class="form-control" placeholder="8080" value="${config['Usenet']['Sabnzbd']['port']}">
                        </div>
                        <div class="col-md-6">
                            <label>${_('API Key')}</label>
                            <input type="text" data-id="api" class="form-control" placeholder="" value="${config['Usenet']['Sabnzbd']['api']}">
                        </div>
                        <div class="col-md-6">
                            <label>${_('Category')}</label>
                            <input type="text" data-id="category" class="form-control" placeholder="Watcher" value="${config['Usenet']['Sabnzbd']['category']}">
                        </div>
                        <div class="col-md-6">
                            <label>${_('Priority')}</label>
                            <select data-id="priority" class="form-control" value="${config['Usenet']['Sabnzbd']['priority']}">
                                <option value="Paused">${_('Paused')}</option>
                                <option value="Low">${_('Low')}</option>
                                <option value="Normal">${_('Normal')}</option>
                                <option value="High">${_('High')}</option>
                                <option value="Forced">${_('Forced')}</option>
                            </select>
                        </div>
                    </div>
                    <!-- BLACKHOLE -->
                    <div id="BlackHole" data-enabled="${config['Usenet']['BlackHole']['enabled']}">
                        <div class="col-md-6">
                            <label>${_('Directory')}</label>
                            <input data-id="directory" type="text" class="form-control" placeholder="/user/downloads/nzb" value="${config['Usenet']['BlackHole']['directory']}">
                        </div>
                    </div>
                </div>
            </div>

            <h2 class="mt-4">${_('Torrent')}</h2>
            <div class="card mb-3">
                <div class="card-header">
                    <div class="input-group">
                        <select id="torrent_client" class="form-control">
                            <option value="" selected="false">${_('Disabled')}</option>
                            <option value="DelugeRPC">Deluge Daemon</option>
                            <option value="DelugeWeb">Deluge WebUI</option>
                            <option value="PutIO">Put.IO</option>
                            <option value="rTorrentSCGI">rTorrent SCGI</option>
                            <option value="rTorrentHTTP">rTorrent HTTP</option>
                            <option value="DownloadStation">Synology DownloadStation</option>
                            <option value="Transmission">Transmission</option>
                            <option value="QBittorrent">QBittorrent</option>
                            <option value="BlackHole">${_('Black Hole')}</option>
                        </select>
                            <div class="input-group-append">
                                <button class="btn btn-outline-success form-control" onclick="test_connection(event, this, 'torrent')">
                                    <i class="mdi mdi-lan-pending"></i>
                                </button>
                            </div>
                    </div>
                </div>
                <div id="torrent_client_settings" class="card-body bg-light">
                    <!-- DELUGE RPC -->
                    <div id="DelugeRPC" class="row" data-enabled="${config['Torrent']['DelugeRPC']['enabled']}">
                        <div class="col-md-6">
                            <label>${_('Host')}</label>
                            <input type="text" data-id="host" class="form-control" placeholder="localhost" value="${config['Torrent']['DelugeRPC']['host']}">
                        </div>
                        <div class="col-md-6">
                            <label>${_('Port')}</label>
                            <input type="number" data-id="port" class="form-control" placeholder="58846" value="${config['Torrent']['DelugeRPC']['port']}">
                        </div>
                        <div class="col-md-6">
                            <label>${_('User Name')}</label>
                            <input type="text" data-id="user" class="form-control" placeholder="" value="${config['Torrent']['DelugeRPC']['user']}">
                        </div>
                        <div class="col-md-6">
                            <label>${_('Password')}</label>
                            <input type="text" data-id="pass" class="form-control" placeholder="" value="${config['Torrent']['DelugeRPC']['pass']}">
                        </div>
                        <div class="col-md-6">
                            <label>${_('Category')}</label>
                            <input type="text" data-id="category" class="form-control" placeholder="Watcher" value="${config['Torrent']['DelugeRPC']['category']}" data-toggle="tooltip" title="${_('Must&nbsp;include&nbsp;only a&#8209;z&nbsp;0&#8209;9&nbsp;&#8209;&nbsp;_')}">
                        </div>
                        <div class="col-md-6">
                            <label>${_('Priority')}</label>
                            <select data-id="priority" class="form-control" value="${config['Torrent']['DelugeRPC']['priority']}">
                                <option value="Low">${_('Low')}</option>
                                <option value="Normal">${_('Normal')}</option>
                                <option value="High">${_('High')}</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label>${_('Add Paused')}</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="input-group-text">
                                        <i data-id="addpaused" class="mdi mdi-checkbox-blank-outline c_box" value="${config['Torrent']['DelugeRPC']['addpaused']}"></i>
                                    </button>
                                </div>
                                <span class="input-group-item form-control">
                                    ${_('Add Torrents in Paused state.')}
                                </span>
                            </div>
                        </div>
                     </div>
                    <!-- DELUGE WEB -->
                    <div id="DelugeWeb" class="row" data-enabled="${config['Torrent']['DelugeWeb']['enabled']}">
                        <div class="col-md-6">
                            <label>${_('Host')}</label>
                            <input type="text" data-id="host" class="form-control" placeholder="localhost" value="${config['Torrent']['DelugeWeb']['host']}">
                        </div>
                        <div class="col-md-6">
                            <label>${_('Port')}</label>
                            <input type="number" data-id="port" class="form-control" placeholder="8112" value="${config['Torrent']['DelugeWeb']['port']}">
                        </div>
                        <div class="col-md-6">
                            <label>${_('Password')}</label>
                            <input type="text" data-id="pass" class="form-control" placeholder="" value="${config['Torrent']['DelugeWeb']['pass']}">
                        </div>
                        <div class="col-md-6">
                            <label>${_('Category')}</label>
                            <input type="text" data-id="category" class="form-control" placeholder="Watcher" value="${config['Torrent']['DelugeWeb']['category']}" data-toggle="tooltip" title="${_('Must&nbsp;include&nbsp;only a&#8209;z&nbsp;0&#8209;9&nbsp;&#8209;&nbsp;_')}">
                        </div>
                        <div class="col-md-6">
                            <label>${_('Priority')}</label>
                            <select data-id="priority" class="form-control" value="${config['Torrent']['DelugeWeb']['priority']}">
                                <option value="Low">${_('Low')}</option>
                                <option value="Normal">${_('Normal')}</option>
                                <option value="High">${_('High')}</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label>${_('Add Paused')}</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="input-group-text">
                                        <i data-id="addpaused" class="mdi mdi-checkbox-blank-outline c_box" value="${config['Torrent']['DelugeWeb']['addpaused']}"></i>
                                    </button>
                                </div>
                                <span class="input-group-item form-control">
                                    ${_('Add Torrents in Paused state.')}
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- PUT.IO -->
                    <div id="PutIO" class="row" data-enabled="${config['Torrent']['PutIO']['enabled']}">
                        <div class="col-md-6">
                            <label>${_('Application Token')}</label>
                            <div class="input-group">
                                <input type="text" data-id="oauthtoken" class="form-control" value="${config['Torrent']['PutIO']['oauthtoken']}">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary" onclick="register_putio(event, this)">
                                        <i class="mdi mdi-key-plus"></i>
                                        Create Token
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>${_('Put.IO Directory ID')}</label>
                            <input type="number" data-id="directory" class="form-control" placeholder="8675309" value="${config['Torrent']['PutIO']['directory']}">
                        </div>
                        <div class="col-md-6">
                            <label>${_('Enable Post Processing')}</label>
                            <a href="https://github.com/nosmokingbandit/Watcher3/wiki/Post-Processing#putio" target="_blank">
                                <i class="mdi mdi-help-circle"></i>
                            </a>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="input-group-text">
                                        <i data-id="postprocessingenabled" class="mdi mdi-checkbox-blank-outline c_box" value="${config['Torrent']['PutIO']['postprocessingenabled']}"></i>
                                    </button>
                                </div>
                                <span class="input-group-item form-control">
                                    ${_('Allow Put.IO to contact Watcher when complete.')}
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>${_('Watcher External Address')}</label>
                            <input type="text" data-id="externaladdress" class="form-control" placeholder="acct.ddns.net/watcher" value="${config['Torrent']['PutIO']['externaladdress']}">
                        </div>
                        <div class="col-md-6">
                            <label>${_('Download to Local Directory')}</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="input-group-text">
                                        <i data-id="downloadwhencomplete" class="mdi mdi-checkbox-blank-outline c_box" value="${config['Torrent']['PutIO']['downloadwhencomplete']}"></i>
                                    </button>
                                </div>
                                <span class="input-group-item form-control">
                                    ${_('Download and Postprocess in local dir.')}
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>${_('Download Directory')}</label>
                            <input type="text" data-id="downloaddirectory" class="form-control" placeholder="/users/Nosferatu/PutIODownloads/" value="${config['Torrent']['PutIO']['downloaddirectory']}">
                        </div>
                        <div class="col-md-6">
                            <label>${_('Delete from Put.IO')}</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="input-group-text">
                                        <i data-id="deleteafterdownload" class="mdi mdi-checkbox-blank-outline c_box" value="${config['Torrent']['PutIO']['deleteafterdownload']}"></i>
                                    </button>
                                </div>
                                <span class="input-group-item form-control">
                                    ${_('Delete file from Put.IO after downloading.')}
                                </span>
                            </div>
                        </div>
                    </div>


                    <!-- RTORRENT SCGI -->
                    <div id="rTorrentSCGI" class="row" data-enabled="${config['Torrent']['rTorrentSCGI']['enabled']}">
                        <div class="col-md-6">
                            <label>${_('Host')}</label>
                            <input type="text" data-id="host" class="form-control" placeholder="localhost" value="${config['Torrent']['rTorrentSCGI']['host']}">
                        </div>
                        <div class="col-md-6">
                            <label>${_('Port')}</label>
                            <input type="number" data-id="port" class="form-control" placeholder="5000" value="${config['Torrent']['rTorrentSCGI']['port']}">
                        </div>
                        <div class="col-md-6">
                            <label>${_('Label')}</label>
                            <input type="text" data-id="label" class="form-control" placeholder="Watcher" value="${config['Torrent']['rTorrentSCGI']['label']}">
                        </div>
                        <div class="col-md-6">
                            <label>${_('Add Paused')}</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="input-group-text">
                                        <i data-id="addpaused" class="mdi mdi-checkbox-blank-outline c_box" value="${config['Torrent']['rTorrentSCGI']['addpaused']}"></i>
                                    </button>
                                </div>
                                <span class="input-group-item form-control">
                                    ${_('Add Torrents in Paused state.')}
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- RTORRENT HTTP -->
                    <div id="rTorrentHTTP" class="row" data-enabled="${config['Torrent']['rTorrentHTTP']['enabled']}">
                        <div class="col-md-6">
                            <label>${_('HTTP RPC Address')}</label>
                            <input type="text" data-id="address" class="form-control" placeholder="localhost" value="${config['Torrent']['rTorrentHTTP']['address']}">
                        </div>
                        <div class="col-md-6">
                            <label>${_('Label')}</label>
                            <input type="text" data-id="label" class="form-control" placeholder="Watcher" value="${config['Torrent']['rTorrentHTTP']['label']}">
                        </div>
                        <div class="col-md-6">
                            <label>${_('User Name')}</label>
                            <input type="text" data-id="user" class="form-control" placeholder="" value="${config['Torrent']['rTorrentHTTP']['user']}">
                        </div>
                        <div class="col-md-6">
                            <label>${_('Password')}</label>
                            <input type="text" data-id="pass" class="form-control" placeholder="" value="${config['Torrent']['rTorrentHTTP']['pass']}">
                        </div>
                        <div class="col-md-6">
                            <label>${_('Add Paused')}</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="input-group-text">
                                        <i data-id="addpaused" class="mdi mdi-checkbox-blank-outline c_box" value="${config['Torrent']['rTorrentHTTP']['addpaused']}"></i>
                                    </button>
                                </div>
                                <span class="input-group-item form-control">
                                    ${_('Add Torrents in Paused state.')}
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- DOWNLOADSTATION -->
                    <div id="DownloadStation" class="row" data-enabled="${config['Torrent']['DownloadStation']['enabled']}">
                        <div class="col-md-6">
                            <label>${_('Hosts')}</label>
                            <input type="text" data-id="host" class="form-control" placeholder="localhost" value="${config['Torrent']['DownloadStation']['host']}">
                        </div>
                        <div class="col-md-6">
                            <label>${_('Port')}</label>
                            <input type="text" data-id="port" class="form-control" placeholder="5000" value="${config['Torrent']['DownloadStation']['port']}">
                        </div>
                        <div class="col-md-6">
                            <label>${_('User Name')}</label>
                            <input type="text" data-id="account" class="form-control" placeholder="" value="${config['Torrent']['DownloadStation']['account']}">
                        </div>
                        <div class="col-md-6">
                            <label>${_('Password')}</label>
                            <input type="text" data-id="pass" class="form-control" placeholder="" value="${config['Torrent']['DownloadStation']['pass']}">
                        </div>
                        <div class="col-md-6">
                            <label>${_('Destination')}</label>
                            <input type="text" data-id="destination" class="form-control" placeholder="" value="${config['Torrent']['DownloadStation']['destination']}" data-toggle="tooltip" title="${_('Download destination path starting with a shared folder (ie `Downloads/Watcher`). Path must exist.')}">
                        </div>
                    </div>
                    <!-- TRANSMISSION -->
                    <div id="Transmission" class="row" data-enabled="${config['Torrent']['Transmission']['enabled']}">
                        <div class="col-md-6">
                            <label>${_('Host')}</label>
                            <input type="text" data-id="host" class="form-control" placeholder="localhost" value="${config['Torrent']['Transmission']['host']}">
                        </div>
                        <div class="col-md-6">
                            <label>${_('Port')}</label>
                            <input type="number" data-id="port" class="form-control" placeholder="9091" value="${config['Torrent']['Transmission']['port']}">
                        </div>
                        <div class="col-md-6">
                            <label>${_('User Name')}</label>
                            <input type="text" data-id="user" class="form-control" placeholder="" value="${config['Torrent']['Transmission']['user']}">
                        </div>
                        <div class="col-md-6">
                            <label>${_('Password')}</label>
                            <input type="text" data-id="pass" class="form-control" placeholder="" value="${config['Torrent']['Transmission']['pass']}">
                        </div>
                        <div class="col-md-6">
                            <label>${_('Category')}</label>
                            <input type="text" data-id="category" class="form-control" placeholder="Watcher" value="${config['Torrent']['Transmission']['category']}">
                        </div>
                        <div class="col-md-6">
                            <label>${_('Priority')}</label>
                            <select data-id="priority" class="form-control" value="${config['Torrent']['Transmission']['priority']}">
                                <option value="Low">${_('Low')}</option>
                                <option value="Normal">${_('Normal')}</option>
                                <option value="High">${_('High')}</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label>${_('Add Paused')}</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="input-group-text">
                                        <i data-id="addpaused" class="mdi mdi-checkbox-blank-outline c_box" value="${config['Torrent']['Transmission']['addpaused']}"></i>
                                    </button>
                                </div>
                                <span class="input-group-item form-control">
                                    ${_('Add Torrents in Paused state.')}
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- QBITTORRENT -->
                    <div id="QBittorrent" class="row" data-enabled="${config['Torrent']['QBittorrent']['enabled']}">
                        <div class="col-md-6">
                            <label>${_('Host')}</label>
                            <input type="text" data-id="host" class="form-control" placeholder="localhost" value="${config['Torrent']['QBittorrent']['host']}">
                        </div>
                        <div class="col-md-6">
                            <label>${_('Port')}</label>
                            <input type="number" data-id="port" class="form-control" placeholder="8080" value="${config['Torrent']['QBittorrent']['port']}">
                        </div>
                        <div class="col-md-6">
                            <label>${_('User Name')}</label>
                            <input type="text" data-id="user" class="form-control" placeholder="" value="${config['Torrent']['QBittorrent']['user']}">
                        </div>
                        <div class="col-md-6">
                            <label>${_('Password')}</label>
                            <input type="text" data-id="pass" class="form-control" placeholder="" value="${config['Torrent']['QBittorrent']['pass']}">
                        </div>
                        <div class="col-md-6">
                            <label>${_('Category')}</label>
                            <input type="text" data-id="category" class="form-control" placeholder="Watcher" value="${config['Torrent']['QBittorrent']['category']}">
                        </div>
                    </div>
                    <!-- BLACKHOLE -->
                    <div id="BlackHole" class="row" data-enabled="${config['Torrent']['BlackHole']['enabled']}">
                        <div class="col-md-6">
                            <label>${_('Directory')}</label>
                            <input type="text" data-id="directory" class="form-control" placeholder="/user/downloads/torrents" value="${config['Torrent']['BlackHole']['directory']}">
                        </div>
                    </div>
                </div>
            </div>

            <button id="save_settings" class="btn btn-success float-right" onclick="save_settings(event, this)">
                <i class="mdi mdi-content-save"></i>
            </button>

        </div>
    </body>
</html>
