<%def name="render_indexer(indexer)">
    <tr>
        <td>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="mdi mdi-checkbox-blank-outline c_box" value="${indexer[2]}"></i>
                    </span>
                </div>
                <input type="text" data-id="url" class="form-control" placeholder="http://www.indexer.com/" value="${indexer[0]}">
                <input type="text" data-id="api" class="form-control" placeholder="123456789abcdef" value="${indexer[1]}">
            </div>
        </td>
        <td>
            <button class="btn btn-outline-success" title="Test Indexer Connection" onclick="test_indexer(event, this)">
                <i class="mdi mdi-lan-pending"></i>
            </button>

            <button class="btn btn-outline-danger" onclick="remove_indexer(event, this)">
                <i class="mdi mdi-delete"></i>
            </button>
        </td>
    </tr>
</%def>


<!DOCTYPE HTML5>
<html>
    <head>
        ${head}

        <link href="${url_base}/static/css/settings/shared.css?v=010" rel="stylesheet">
        <link href="${url_base}/static/css/settings/indexers.css?v=010" rel="stylesheet">

        <script src="${url_base}/static/js/settings/shared.js?v=012" type="text/javascript"></script>
        <script src="${url_base}/static/js/settings/indexers.js?v=012" type="text/javascript"></script>

    </head>
    <body>
        ${navbar}
        <div class="container">

            <h1>${_('NewzNab Indexers')}</h1>
            <form class="form-group row bg-light rounded mx-auto">
                <table class="table">
                    <thead class="thead-light">
                        <th class="indexer_input_header">
                            <span>
                                ${_('URL')}
                            </span>
                            <span>
                                ${_('API Key')}
                            </span>
                        </th>
                        <th></th>
                    </thead>
                    <tbody data-category="newznab">
                        %for indexer in config['NewzNab'].values():
                        ${render_indexer(indexer)}
                        %endfor
                    </tbody>
                </table>
                <div class='col-md-12'>
                    <button class="btn btn-outline-primary" onclick="add_indexer(event, 'newznab')">
                        <i class="mdi mdi-plus"></i>
                    </button>
                </div>
            </form>

            <h1>${_('TorzNab Indexers')}</h1>
            <form class="form-group row bg-light rounded mx-auto">
                <table class="table">
                    <thead class="thead-light">
                        <th class="indexer_input_header">
                            <span>
                                ${_('URL')}
                            </span>
                            <span>
                                ${_('API Key')}
                            </span>
                        </th>
                        <th></th>
                    </thead>
                    <tbody data-category="torznab">
                        %for indexer in config['TorzNab'].values():
                        ${render_indexer(indexer)}
                        %endfor
                    </tbody>
                </table>
                <div class='col-md-12'>
                    <button class="btn btn-outline-primary" onclick="add_indexer(event, 'torznab')">
                        <i class="mdi mdi-plus"></i>
                    </button>
                </div>
            </form>

            <h1>${_('Torrent Indexers')}</h1>
            <form class="form-group row bg-light rounded mx-auto py-3" data-category="torrent">
                <div class="col-md-6">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="mdi mdi-checkbox-blank-outline c_box" id="limetorrents" value="${config['Torrent']['limetorrents']}"></i>
                            </span>
                        </div>
                        <span class="input-group-item form-control">
                            LimeTorrents
                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="mdi mdi-checkbox-blank-outline c_box" id="rarbg" value="${config['Torrent']['rarbg']}"></i>
                            </span>
                        </div>
                        <span class="input-group-item form-control">
                            Rarbg
                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="mdi mdi-checkbox-blank-outline c_box" id="thepiratebay" value="${config['Torrent']['thepiratebay']}"></i>
                            </span>
                        </div>
                        <span class="input-group-item form-control">
                            ThePirateBay
                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="mdi mdi-checkbox-blank-outline c_box" id="torrentdownloads" value="${config['Torrent']['torrentdownloads']}"></i>
                            </span>
                        </div>
                        <span class="input-group-item form-control">
                            TorrentDownloads
                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="mdi mdi-checkbox-blank-outline c_box" id="torrentz2" value="${config['Torrent']['torrentz2']}"></i>
                            </span>
                        </div>
                        <span class="input-group-item form-control">
                            Torrentz2
                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="mdi mdi-checkbox-blank-outline c_box" id="yts" value="${config['Torrent']['yts']}"></i>
                            </span>
                        </div>
                        <span class="input-group-item form-control">
                            YTS
                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="mdi mdi-checkbox-blank-outline c_box" id="zooqle" value="${config['Torrent']['zooqle']}"></i>
                            </span>
                        </div>
                        <span class="input-group-item form-control">
                            Zooqle (${_('backlog only')})
                        </span>
                    </div>
                </div>
            </form>

            <h1>Private Torrent Indexers</h1>
            <form class="mx-auto" data-category="privtorrent">
                <div class="row bg-light rounded mx-auto py-3" data-id="danishbits">
                    <div class="input-group col-md-6 col-sm-12">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="mdi mdi-checkbox-blank-outline c_box" data-id="enabled" title="Enabled" value="${config['PrivateTorrent']['danishbits']['enabled']}"></i>
                            </span>
                        </div>
                        <span class="input-group-item form-control">
                            DanishBits
                        </span>
                    </div>
                    <div class="input-group col-md-6 col-sm-12">
                        <input class="form-control" type="text" data-id="username" placeholder="Username" value="${config['PrivateTorrent']['danishbits']['username']}"/>
                        <input class="form-control" type="text" data-id="passkey" placeholder="Passkey" value="${config['PrivateTorrent']['danishbits']['passkey']}"/>
                    </div>
                </div>
            </form>

            <button id="save_settings" class="btn btn-success float-right" onclick="save_settings(event, this)">
                <i class="mdi mdi-content-save"></i>

            </button>
        </div>

        <template id="new_indexer">
            ${render_indexer(['', '', 'False'])}
        </template>
    </body>
</html>
