<!DOCTYPE HTML5>
<html>
    <head>
        ${head}
        <link href="${url_base}/static/css/settings/shared.css?v=010" rel="stylesheet">
        <link href="${url_base}/static/css/settings/log.css?v=010" rel="stylesheet">

        <script src="${url_base}/static/js/settings/shared.js?v=012" type="text/javascript"></script>
        <script src="${url_base}/static/js/settings/logs.js?v=011" type="text/javascript"></script>
    </head>
    <body>
        ${navbar}
        <div class="container">
            <h1>${_('Logs')}</h1>

            <div class="row bg-light rounded mx-auto pb-3">
                <div class="col-md-12 my-3">
                    <label>${_('Log Directory')}</label>
                    <input type="text" class="form-control border" value="${logdir}" readonly>
                </div>

                <div class="col-md-12">
                    <label>${_('Log Files')}</label>
                    <div class="input-group">
                        <select id="log_file" class="form-control">
                            %for log in logfiles:
                            <option value="${log}">${log}</option>
                            %endfor
                        </select>
                        <div class="input-group-append">
                            <button id="view" class="btn btn-outline-primary" onclick="view_log()" title="${_('View')}">
                                <i class="mdi mdi-clipboard-text"></i>
                            </button>
                        </div>
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary" onclick="download_log()" title="${_('Download')}">
                                <i class="mdi mdi-download"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <samp id="log_text" class='bg-light rounded px-3 py-3 mt-3'></samp>
        </div>
    </body>
</html>
