<%def name="render_remote_map(remote, local)">
    <tr>
        <td>
            <input type="text" data-id="remote" class="form-control" placeholder="/users/rick_sanchez/movies" value="${remote}">
        </td>
        <td>
            <input type="text" data-id="local" class="form-control" placeholder="//server/downloads/movies" value="${local}">
        </td>
        <td>
            <a class="btn btn-danger" onclick="remove_mapping(event, this)">
                <i class="mdi mdi-delete"></i>
            </a>
        </td>
    </tr>
</%def>

<%
    tags = '{title} {sort_title} {year} {resolution} {rated} {edition} {imdbid} {videocodec} {audiocodec} {releasegroup} {source} {quality}'
%>

<!DOCTYPE HTML5>
<html>
    <head>
        ${head}
        <link href="${url_base}/static/css/settings/shared.css?v=001" rel="stylesheet">
        <link href="${url_base}/static/css/settings/postprocessing.css?v=001" rel="stylesheet">

        <script src="${url_base}/static/js/settings/shared.js?v=002" type="text/javascript"></script>
        <script src="${url_base}/static/js/settings/postprocessing.js?v=001" type="text/javascript"></script>
    </head>
    <body>
        ${navbar}
        <div class="container-fluid">

            <h1>${_('Postprocessing')}</h1>

            <div class="col-md-12 well">
                ${_('See the Wiki for help configuring your download client.')}
                <a href="https://github.com/nosmokingbandit/watcher3/wiki", target="_blank" rel="noopener">
                    <i class="mdi mdi-help-circle-outline"></i>
                </a>
            </div>

            <form class="form-horizontal well" data-category="postprocessing">

                <div class="col-md-6">
                    <label>${_('Delete Failed Downloads')}</label>
                    <div class="input-group">
                        <span class="input-group-addon box_box">
                            <i id="cleanupfailed" class="mdi mdi-checkbox-blank-outline c_box" value="${config['cleanupfailed']}"></i>
                        </span>
                        <span class="input-group-item form-control">
                            ${_('Delete incomplete or failed downloads')}
                        </span>
                    </div>
                </div>

                <div class="col-md-12 separator"></div>

                <div class="col-md-6">
                    <label>${_('Rename Movies')}</label>
                    <div class="input-group">
                        <span class="input-group-addon box_box">
                            <i id="renamerenabled" class="mdi mdi-checkbox-blank-outline c_box" value="${config['renamerenabled']}"></i>
                        </span>
                        <input type="text" id="renamerstring" class="form-control" placeholder="{title} ({year})" value="${config['renamerstring']}" data-toggle="tooltip" title="${tags}">
                    </div>
                </div>
                <div class="col-md-6">
                    <label>${_('Use Periods For Spaces')}</label>
                    <div class="input-group">
                        <span class="input-group-addon box_box">
                            <i id="replacespaces" class="mdi mdi-checkbox-blank-outline c_box" value="${config['replacespaces']}"></i>
                        </span>
                        <span class="input-group-item form-control">
                            ${_('Replace all spaces with periods')}
                        </span>
                    </div>
                </div>

                <div class="col-md-12 separator"></div>

                <div class="col-md-6">
                    <label>${_('Move Movies')}</label>
                    <div class="input-group">
                        <span class="input-group-addon box_box">
                            <i id="moverenabled" class="mdi mdi-checkbox-blank-outline c_box" value="${config['moverenabled']}"></i>
                        </span>
                        <input type="text" id="moverpath" class="form-control" placeholder="/users/ricksanchez/movies/{title} ({year})/" value="${config['moverpath']}" data-toggle="tooltip" title="${tags}">
                    </div>
                </div>

                <div class="col-md-6">
                    <label>${_('Move Method')}</label>
                    <select class="form-control select-sm" id="movermethod" value="${config['movermethod']}">
                        <option value="move">${_('Move')}</option>
                        <option value="copy">${_('Copy')}</option>
                        <option value="hardlink">${_('Hardlink')}</option>
                        <option value="symboliclink" ${'disabled=true' if os == 'windows' else ''}>${_('Symbolic Link')}</option>
                    </select>
                </div>

                <div class="col-md-6">
                    <label>${_('Move Additional File Types')}</label>
                    <input type="text" id="moveextensions" class="form-control" placeholder="srt, nfo" value="${config['moveextensions']}" data-toggle="tooltip" title="${_('Separate file extensions with commas')}">
                </div>

                <div class="col-md-6">
                    <label>${_('Clean Up Download Dir')}</label>
                    <div class="input-group">
                        <span class="input-group-addon box_box">
                            <i id="cleanupenabled" class="mdi mdi-checkbox-blank-outline c_box" value="${config['cleanupenabled']}"></i>
                        </span>
                        <span class="input-group-item form-control">
                            ${_('Remove leftover files after move')}
                        </span>
                    </div>
                </div>

                <div class="col-md-6">
                    <label>${_('Replace Illegal Characters With [X]')}</label>
                    <input type="text" id="replaceillegal" class="form-control" value="${config['replaceillegal']}" data-toggle="tooltip" title="${_('Cannot contain *&nbsp;?&nbsp;&quot;&nbsp;;&nbsp;&lt;&nbsp;&gt;&nbsp;|')}'">
                </div>

                <div class="col-md-6">
                    <label>${_('Clean Up Target Dir')}</label>
                    <div class="input-group">
                        <span class="input-group-addon box_box">
                            <i id="removeadditionalfiles" class="mdi mdi-checkbox-blank-outline c_box" value="${config['removeadditionalfiles']}"></i>
                        </span>
                        <span class="input-group-item form-control">
                            ${_('Remove associated files before moving.')}
                        </span>
                    </div>
                </div>

                <div class="col-md-12 separator"></div>

                <div class="col-md-6">
                    <label>${_('Use Recycle Bin Folder')}</label>
                    <div class="input-group">
                        <span class="input-group-addon box_box">
                            <i id="recyclebinenabled" class="mdi mdi-checkbox-blank-outline c_box" value="${config['recyclebinenabled']}"></i>
                        </span>
                        <span class="input-group-item form-control">
                            ${_('Keep old movies when re-downloading.')}
                        </span>
                    </div>
                </div>

                <div class="col-md-6">
                    <label>${_('Recycle Bin Directory')}</label>
                    <input type="text" id="recyclebindirectory" class="form-control" value="${config['recyclebindirectory']}">
                </div>

            </form>

            <h1>${_('Directory Scanner')}</h1>
            <form class="form-horizontal well" data-category="scanner">

                <div class="col-md-6">
                    <label>${_('Enable Scanner')}</label>
                    <div class="input-group">
                        <span class="input-group-addon box_box">
                            <i id="enabled" class="mdi mdi-checkbox-blank-outline c_box" value="${config['Scanner']['enabled']}"></i>
                        </span>
                        <span class="input-group-item form-control">
                            ${_('Scan directory for movies to process.')}
                        </span>
                    </div>
                </div>

                <div class="col-md-6">
                    <label>${_('Scan Directory')}</label>
                    <input type="text" id="directory" class="form-control" value="${config['Scanner']['directory']}">
                </div>

                <div class="col-md-6">
                    <label>${_('Scan Frequency')}</label>
                    <div class="input-group">
                        <input type="number" id="interval" class="form-control" min="5" placeholder="240" value="${config['Scanner']['interval']}">
                        <span class="input-group-addon">
                            ${_('Minutes')}
                        </span>
                    </div>
                </div>

                <div class="col-md-6">
                    <label>${_('Only Process New Files')}</label>
                    <div class="input-group">
                        <span class="input-group-addon box_box">
                            <i id="newfilesonly" class="mdi mdi-checkbox-blank-outline c_box" value="${config['Scanner']['newfilesonly']}"></i>
                        </span>
                        <span class="input-group-item form-control">
                            ${_('Only process files added since last scan.')}
                        </span>
                    </div>
                </div>

                <div class="col-md-6">
                    <label>${_('Minimum File Size')}</label>
                    <div class="input-group">
                        <input type="number" id="minsize" class="form-control" min="0" placeholder="500" value="${config['Scanner']['minsize']}">
                        <span class="input-group-addon">
                            ${_('MB')}
                        </span>
                    </div>
                </div>
            </form>

            <h1>${_('Remote Mapping')}</h1>
            <a href="https://github.com/nosmokingbandit/Watcher3/wiki/Remote-Mapping" target="_blank" rel="noopener">
                <i class="mdi mdi-help-circle-outline"></i>
            </a>
            <form class="form-horizontal well" data-category="remote_mapping">
                <table class="table table-hover">
                    <thead>
                        <th>${_('Remote Path')}</th>
                        <th>${_('Local Path')}</th>
                        <th></th>
                    </thead>
                    <tbody>
                        %for remote, local in config['RemoteMapping'].items():
                        ${render_remote_map(remote, local)}
                        %endfor
                    </tbody>
                </table>
                <div class='col-md-12'>
                    <a class="btn btn-primary" onclick="add_mapping(event, this)">
                        <i class="mdi mdi-plus"></i>
                        ${_('Add Mapping')}
                    </a>
                </div>
            </form>

            <a id="save_settings" class="btn btn-success pull-right" onclick="save_settings(event, this)">
                <i class="mdi mdi-content-save"></i>
                ${_('Save Settings')}
            </a>
        </div>
        <textarea id="template_mapping" class="hidden">
            ${render_remote_map('', '')}
        </textarea>
    </body>
</html>
