<%def name="render_remote_map(remote, local)">
    <tr>
        <td>
            <input type="text" data-id="remote" class="form-control" placeholder="/users/rick_sanchez/movies" value="${remote}">
        </td>
        <td>
            <input type="text" data-id="local" class="form-control" placeholder="//server/downloads/movies" value="${local}">
        </td>
        <td>
            <a class="btn btn-danger" onclick="remove_mapping(event, this)">
                <i class="mdi mdi-delete"></i>
            </a>
        </td>
    </tr>
</%def>

<!DOCTYPE>
<html>
    <head>
        ${head}
        <link href="${url_base}/static/css/settings/shared.css?v=06.02" rel="stylesheet">
        <link href="${url_base}/static/css/settings/postprocessing.css?v=06.02" rel="stylesheet">

        <script src="${url_base}/static/js/settings/shared.js?v=06.15"  type="text/javascript"></script>
        <script src="${url_base}/static/js/settings/postprocessing.js?v=06.25"  type="text/javascript"></script>
    </head>
    <body>
        ${navbar}
        <div class="container-fluid">

            <h1>Postprocessing</h1>

            <div class="col-md-12 well">
                See the <a href="https://github.com/nosmokingbandit/watcher3/wiki", target="_blank">Wiki</a> for help configuring your download client.
            </div>

            <form class="form-horizontal well" data-category="postprocessing">

                <div class="col-md-6">
                    <label>Delete Failed Downloads</label>
                    <div class="input-group">
                        <span class="input-group-addon box_box">
                            <i id="cleanupfailed" class="mdi mdi-checkbox-blank-outline c_box" value="${config['cleanupfailed']}"></i>
                        </span>
                        <span class="input-group-item form-control">
                            Delete incomplete or failed downloads.
                        </span>
                    </div>
                </div>

                <div class="col-md-12 separator"></div>

                <div class="col-md-6">
                    <label>Rename Movies</label>
                    <div class="input-group">
                        <span class="input-group-addon box_box">
                            <i id="renamerenabled" class="mdi mdi-checkbox-blank-outline c_box" value="${config['renamerenabled']}"></i>
                        </span>
                        <input type="text" id="renamerstring" class="form-control" placeholder="{title} ({year})" value="${config['renamerstring']}" data-toggle="tooltip" title="{title} {year} {resolution} {rated} {imdbid} {videocodec} {audiocodec} {releasegroup} {source} {quality}">
                    </div>
                </div>
                <div class="col-md-6">
                    <label>Use Periods For Spaces</label>
                    <div class="input-group">
                        <span class="input-group-addon box_box">
                            <i id="replacespaces" class="mdi mdi-checkbox-blank-outline c_box" value="${config['replacespaces']}"></i>
                        </span>
                        <span class="input-group-item form-control">
                            Replace all spaces with periods.
                        </span>
                    </div>
                </div>

                <div class="col-md-12 separator"></div>

                <div class="col-md-6">
                    <label>Move Movies</label>
                    <div class="input-group">
                        <span class="input-group-addon box_box">
                            <i id="moverenabled" class="mdi mdi-checkbox-blank-outline c_box" value="${config['moverenabled']}"></i>
                        </span>
                        <input type="text" id="moverpath" class="form-control" placeholder="/users/ricksanchez/movies/{title} ({year})/" value="${config['moverpath']}" data-toggle="tooltip" title="{title} {year} {resolution} {rated} {imdbid} {videocodec} {audiocodec} {releasegroup} {source} {quality}">
                    </div>
                </div>

                <div class="col-md-6">
                    <label>Move Method</label>
                    <select class="form-control select-sm" id="movermethod" value="${config['movermethod']}">
                        <option value="move">Move</option>
                        <option value="hardlink">Hardlink</option>
                        <option value="symboliclink" ${'disabled=true' if os == 'windows' else ''}>Symbolic Link</option>
                    </select>
                </div>

                <div class="col-md-6">
                    <label>Move Additional File Types</label>
                    <input type="text" id="moveextensions" class="form-control" placeholder="srt, nfo" value="${config['moveextensions']}"  data-toggle="tooltip" title="Separate file extensions with commas.">
                </div>

                <div class="col-md-6">
                    <label>Clean Up Download Dir</label>
                    <div class="input-group">
                        <span class="input-group-addon box_box">
                            <i id="cleanupenabled" class="mdi mdi-checkbox-blank-outline c_box" value="${config['cleanupenabled']}"></i>
                        </span>
                        <span class="input-group-item form-control">
                            Remove leftover files after move.
                        </span>
                    </div>
                </div>

                <div class="col-md-6">
                    <label>Replace Illegal Characters With [X]</label>
                    <input type="text" id="replaceillegal" class="form-control" value="${config['replaceillegal']}" data-toggle="tooltip" title="Cannot contain *&nbsp;?&nbsp;&quot;&nbsp;;&nbsp;&lt;&nbsp;&gt;&nbsp;|">
                </div>

                <div class="col-md-6">
                    <label>Clean Up Target Dir</label>
                    <div class="input-group">
                        <span class="input-group-addon box_box">
                            <i id="removeadditionalfiles" class="mdi mdi-checkbox-blank-outline c_box" value="${config['removeadditionalfiles']}"></i>
                        </span>
                        <span class="input-group-item form-control">
                            Remove associated files before moving.
                        </span>
                    </div>
                </div>

                <div class="col-md-12 separator"></div>

                <div class="col-md-6">
                    <label>Use Recycle Bin Folder</label>
                    <div class="input-group">
                        <span class="input-group-addon box_box">
                            <i id="recyclebinenabled" class="mdi mdi-checkbox-blank-outline c_box" value="${config['recyclebinenabled']}"></i>
                        </span>
                        <span class="input-group-item form-control">
                            Keep old movies when re-downloading.
                        </span>
                    </div>
                </div>

                <div class="col-md-6">
                    <label>Recycle Bin Directory</label>
                    <input type="text" id="recyclebindirectory" class="form-control" value="${config['recyclebindirectory']}">
                </div>

            </form>

            <h1>Remote Mapping</h1>
            <a href="https://github.com/nosmokingbandit/Watcher3/wiki/Remote-Mapping" target="_blank">
                <i class="mdi mdi-help-circle-outline"></i>
            </a>
            <form class="form-horizontal well" data-category="remote_mapping">
                <table class="table table-hover">
                    <thead>
                        <th>Remote Path</th>
                        <th>Local Path</th>
                        <th></th>
                    </thead>
                    <tbody>
                        %for remote, local in config['RemoteMapping'].items():
                        ${render_remote_map(remote, local)}
                        %endfor
                    </tbody>
                </table>
                <div class='col-md-12'>
                    <a class="btn btn-primary" onclick="add_mapping(event, this)">
                        <i class="mdi mdi-plus"></i>
                       Add Mapping
                   </a>
                </div>
            </form>

            <a id="save_settings" class="btn btn-success pull-right" onclick="save_settings(event, this)">
                <i class="mdi mdi-content-save"></i>
                Save Settings
            </a>
        </div>
        <textarea id="template_mapping" class="hidden">
            ${render_remote_map('', '')}
        </textarea>
    </body>
</html>
