<%def name="generate_profile(name, profile)">
    <div id="${name}" class="quality_profile row bg-light rounded mx-auto py-3">
        <div class="col-md-6 input-group my-0">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="mdi radio ${'mdi-star' if profile.get('default') else 'mdi-star-outline'}" value="${'True' if profile.get('default') else 'False'}" title="${_('Use as Default profile')}"></i>
                </span>
            </div>
            <input type="text" id="name" class="form-control" value="${name}">
        </div>
        <div class="col-md-6">
            <button class="btn btn-light border float-right" onclick="edit_profile(event, this)">
                <i class="mdi mdi-chevron-down"></i>
            </button>
        </div>

        <div class="col-md-12 profile_contents mt-3">
            <div class="row">
                <div class="col-md-6">
                    <h5>${_('Sources')}</h5>
                    <div class="card">
                        <ul class="sources sortable">
                            %for src in sources:
                            <li class="source rounded pl-2 my-1" data-source="${src}" data-sort="${profile['Sources'].get(src, [None, 99])[1]}">
                                <i class="mdi mdi-drag-horizontal sortable_handle"></i>
                                <i class="mdi mdi-checkbox-blank-outline c_box" value="${profile['Sources'].get(src, [False, None])[0]}"></i>
                                ${src}
                            </li>
                            %endfor
                        </ul>
                    </div>
                </div>

                <div class="col-md-6">
                    <h5>${_('Filters')}</h5>
                    <div data-sub-category="filters" data-toggle="tooltip" title="${_('Group words with ampersands and split groups with commas')}">
                        <label>${_('Required Words')}</label>
                        <input type="text" id="requiredwords" class="form-control" value="${profile['requiredwords']}">

                        <label>${_('Preferred Words')}</label>
                        <input type="text" id="preferredwords" class="form-control" placeholder='this&is&a&group, one, two, three' value="${profile['preferredwords']}">

                        <label>${_('Ignored Words')}</label>
                        <input type="text" id="ignoredwords" class="form-control" value="${profile['ignoredwords']}">
                    </div>

                    <h5 class="mt-4">${_('Misc.')}</h5>
                    <div data-sub-category="misc">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i id="scoretitle" class="mdi mdi-checkbox-blank-outline c_box" value="${profile['scoretitle']}"></i>
                                </span>
                            </div>
                            <span class="input-group-item form-control">
                                    ${_('Score and filter release titles')}
                            </span>
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i id="prefersmaller" class="mdi mdi-checkbox-blank-outline c_box" value="${profile['prefersmaller']}"></i>
                                </span>
                            </div>
                            <span class="input-group-item form-control">
                                    ${_('Prefer smaller file sizes')}
                            </span>
                        </div>
                    </div>
                    <button class="btn btn-outline-danger float-right" onclick="delete_profile(event, this)">
                        <i class="mdi mdi-delete"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</%def>


<!DOCTYPE HTML5>
<html>
    <head>
        ${head}
        <link href="${url_base}/static/css/settings/shared.css?v=010" rel="stylesheet">
        <link href="${url_base}/static/css/settings/quality.css?v=010" rel="stylesheet">

        <script src="${url_base}/static/js/settings/shared.js?v=012" type="text/javascript"></script>
        <script src="${url_base}/static/js/settings/quality.js?v=012" type="text/javascript"></script>
        <script src="${url_base}/static/js/lib/jquery.sortable.min.js?v=010" type="text/javascript"></script>
    </head>
    <body>
        ${navbar}
        <div class="container">
            <h1>${_('Quality Profiles')}</h1>
            <form id='profiles' class="mx-auto">
                %for name, profile in config['Profiles'].items():
                ${generate_profile(name, profile)}
                %endfor
            </form>

            <div class='col-md-12' id="add_profile">
                <button class="btn btn-outline-primary" onclick="add_profile(event)">
                    <i class="mdi mdi-plus"></i>
                </button>
            </div>

            <h1 class="mt-4">${_('Sources')}</h1>
            <form class="form-group row bg-light rounded mx-auto py-3" data-category="sources">
                <div class="col-md-12">
                    ${_('Specify acceptable size ranges (in MegaBytes) for source media.')}
                </div>
                <table class="table table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th></th>
                            <th>${_('Min Size')}</th>
                            <th>${_('Max Size')}</th>
                        </tr>
                    </thead>
                    <tbody>
                        %for src in sources:
                        <%
                            v = config['Sources'][src]
                        %>
                        <tr id="${src}">
                            <td>${src}</td>
                            <td>
                                <input type="number" class="form-control form-control-sm" data-range="min" min="0" value=${v['min']}>
                            </td>
                            <td>
                                <input type="number" class="form-control form-control-sm" data-range="max" min="0" value=${v['max']}>
                            </td>
                        </tr>
                        %endfor
                    </tbody>
                </table>
            </form>

            <h2>${_('Aliases')}</h2>
            <form class="form-group row bg-light rounded mx-auto py-3" data-category="aliases">
                <div class="col-md-12">
                    ${_('Keywords used to determine source media')}
                </div>
                <table id="aliases" class="table table-hover" data-toggle="tooltip"title="${_('Separate Keywords with commas')}">
                    <tbody>
                        %for name, alias in config['Aliases'].items():
                        <tr>
                            <td>${name}</td>
                            <td>
                                <input type="text" id="${name}" class="form-control form-control-sm" value="${', '.join(alias)}">
                            </td>
                        </tr>
                        %endfor
                    </tbody>
                </table>
            </form>

            <button id="save_settings" class="btn btn-success float-right" onclick="save_settings(event, this)">
                <i class="mdi mdi-content-save"></i>

            </button>
        </div>

        <template id="profile_template">
            ${generate_profile("", {'Sources': {'BluRay-1080P': [True, 1], 'BluRay-4K': [False, 0], 'BluRay-720P': [True, 2], 'CAM-SD': [False, 13], 'DVD-SD': [False, 9], 'Screener-1080P': [False, 10], 'Screener-720P': [False, 11], 'Telesync-SD': [False, 12], 'WebDL-1080P': [True, 4], 'WebDL-4K': [False, 3], 'WebDL-720P': [True, 5], 'WebRip-1080P': [True, 7], 'WebRip-4K': [False, 6], 'WebRip-720P': [True, 8], 'Unknown': [False, 14]}, 'ignoredwords': 'subs,german,dutch,french,truefrench,danish,swedish,spanish,italian,korean,dubbed,swesub,korsub,dksubs,vain,HC,blurred', 'preferredwords': '', 'prefersmaller': False, 'requiredwords': '', 'scoretitle': True})}
        </template>

    </body>
</html>
