<!DOCTYPE HTML5>
<html>
    <head>
        ${head}
        <link href="${url_base}/static/css/settings/shared.css?v=010" rel="stylesheet">
        <link href="${url_base}/static/css/settings/search.css?v=010" rel="stylesheet">

        <script src="${url_base}/static/js/settings/shared.js?v=012" type="text/javascript"></script>
        <script src="${url_base}/static/js/settings/search.js?v=011" type="text/javascript"></script>
    </head>
    <body>
        ${navbar}
        <div class="container">

            <h1>${_('Search')}</h1>

            <form class="form-group row bg-light rounded mx-auto py-3 py-3" data-category="search">

                <div class="col-md-6">
                    <label>${_('Search Immediately')}</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i id="searchafteradd" class="mdi mdi-checkbox-blank-outline c_box" value="${config['searchafteradd']}"></i>
                            </span>
                        </div>
                        <span class="input-group-item form-control">
                            ${_('Search immediately after adding movie')}
                        </span>
                    </div>
                </div>

                <div class="col-md-6">
                    <label>${_('Grab Best Release')}</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i id="autograb" class="mdi mdi-checkbox-blank-outline c_box" value="${config['autograb']}"></i>
                            </span>
                        </div>
                        <span class="input-group-item form-control">
                            ${_('Automatically grab best release')}
                        </span>
                    </div>
                </div>

                <div class="col-md-6">
                    <label>${_('Verify Availability')}</label>
                    <select id="verifyreleases" class="form-control select-sm" value="${config['verifyreleases']}">
                        <option value="">${_('Disabled')}</option>
                        <option value="predb">PreDB</option>
                        <option value="mediareleasedate">${_('Home Media Release Date')}</option>
                    </select>
                </div>

                <div class="col-md-6">
                    <label>${_('Skip verification if Movie is older than [X] weeks')}</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i id="verifyreleasesskip" class="mdi mdi-checkbox-blank-outline c_box" value="${config['verifyreleasesskip']}"></i>
                            </span>
                        </div>
                        <input type="number" id="verifyreleasesskipweeks" class="form-control" min="0" placeholder="26" value="${config['verifyreleasesskipweeks']}">
                    </div>
                </div>

                <div class="col-md-6">
                    <label>${_('Sync RSS Every [X] Minutes')}</label>
                    <input type="number" id="rsssyncfrequency" class="form-control" min="15" placeholder="120" value="${config['rsssyncfrequency']}">
                </div>

                <hr/>

                <div class="col-md-6">
                    <label>${_('Wait [X] Days To Grab')}</label>
                    <input type="number" id="waitdays" class="form-control" min="0" placeholder="3" value="${config['waitdays']}">
                </div>


                <div class="col-md-6">
                    <label>${_('Skip Wait if Movie is Older than [X] Weeks')}</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i id="skipwait" class="mdi mdi-checkbox-blank-outline c_box" value="${config['skipwait']}"></i>
                            </span>
                        </div>
                        <input type="number" id="skipwaitweeks" class="form-control" min="0" placeholder="26" value="${config['skipwaitweeks']}">
                    </div>
                </div>

                <div class="col-md-6">
                    <label>${_('Keep Searching [X] Days for Best Release')}</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i id="keepsearching" class="mdi mdi-checkbox-blank-outline c_box" value="${config['keepsearching']}"></i>
                            </span>
                        </div>
                        <input type="number" id="keepsearchingdays" class="form-control" min="0" placeholder="7" value="${config['keepsearchingdays']}">
                    </div>
                </div>

                <div class="col-md-6">
                    <label>${_('Re-Grabbed Releases Must Score [X] Points Higher')}</label>
                    <input type="number" id="keepsearchingscore" class="form-control" min="0" placeholder="10" value="${config['keepsearchingscore']}">
                </div>

                <hr/>

                <div class="col-md-6">
                    <label>${_('Preferred Source')}</label>
                    <select id="preferredsource" class="form-control select-sm" value="${config['preferredsource']}">
                        <option value="">${_('None')}</option>
                        <option value="torrent">${_('Torrent')}</option>
                        <option value="usenet">${_('Usenet')}</option>
                    </select>
                </div>

                <div class="col-md-6">
                    <label>${_('Torrents Must Have [X] Seeds')}</label>
                    <input type="number" id="mintorrentseeds" class="form-control" min="0" placeholder="1" value="${config['mintorrentseeds']}">
                </div>

                <div class="col-md-6">
                    <label>${_('Add [X] Points to Freeleech Torrents')}</label>
                    <input type="number" id="freeleechpoints" class="form-control" min="0" placeholder="10" value="${config['freeleechpoints']}">
                </div>

                <div class="col-md-6">
                    <label>${_('Usenet Server Retention')}</label>
                    <div class="input-group">
                        <input type="number" id="retention" class="form-control" min="0" placeholder="1500" value="${config['retention']}">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                ${_('Days')}
                            </span>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="col-md-6">
                    <label>${_('Allow Adult')}</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i id="allowadult" class="mdi mdi-checkbox-blank-outline c_box" value="${config['allowadult']}"></i>
                            </span>
                        </div>
                        <span class="input-group-item form-control">
                            ${_('Allow movies tagged as Adult')}
                        </span>
                    </div>
                </div>

            </form>

            <h1>${_('Watchlists')}</h1>

            <form class="form-group row bg-light rounded mx-auto py-3 py-3" data-category="watchlists">
                <div class="col-md-6">
                    <label>${_('Sync IMDB Watchlists Every [X] Minutes')}</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i id="imdbsync" class="mdi mdi-checkbox-blank-outline c_box" value="${config['Watchlists']['imdbsync']}"></i>
                            </span>
                        </div>
                        <input type="number" id="imdbfrequency" class="form-control" min="15" placeholder="60" value="${config['Watchlists']['imdbfrequency']}">
                    </div>
                </div>

                <div class="col-md-6">
                    <label>${_('IMDB Watchlist URLs')}</label>
                    <input type="text" id="imdbcsv" class="form-control" placeholder="http://www.imdb.com/list/ls0123456789/export" value="${', '.join(config['Watchlists']['imdbcsv'])}" data-toggle="tooltip" title="${_('Separate lists with commas')}">
                </div>

                <hr/>

                <div class="col-md-6">
                    <label>${_('Sync Popular Movies Every Day At')}
                        <a href="https://github.com/sjlu/popular-movies" target="_blank" rel="noopener">
                            &nbsp;<i class="mdi mdi-help-circle-outline"></i>
                        </a>
                    </label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i id="popularmoviessync" class="mdi mdi-checkbox-blank-outline c_box" value="${config['Watchlists']['popularmoviessync']}"></i>
                            </span>
                        </div>
                        <input type="time" id="popularmoviestime" class="form-control" data-hour="${config['Watchlists']['popularmovieshour']}" data-minute="${config['Watchlists']['popularmoviesmin']}" value="">
                    </div>
                </div>

                <hr/>

                <div class="col-md-6">
                    <label>${_('Sync Trakt Lists Every [X] Minutes')}</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i id="traktsync" class="mdi mdi-checkbox-blank-outline c_box" value="${config['Watchlists']['traktsync']}"></i>
                            </span>
                        </div>
                        <input type="number" id="traktfrequency" class="form-control" min="15" placeholder="60" value="${config['Watchlists']['traktfrequency']}">
                    </div>
                </div>

                <div class="col-md-3">
                    <label>${_('Max Movies Per List')}</label>
                    <input type="number" id="traktlength" class="form-control" min="1" placeholder="10" value="${config['Watchlists']['traktlength']}">
                </div>

                <div class="col-md-3">
                    <label>${_('Minimum Score')}</label>
                    <input type="number" id="traktscore" class="form-control" min="0" placeholder="7" value="${config['Watchlists']['traktscore']}">
                </div>

                <div class="col-md-6">
                    <label>${_('Trakt Watchlist URLs')}</label>
                    <input type="text" id="traktrss" class="form-control" placeholder="https://trakt.tv/users/user/lists/movielist.atom?..." value="${config['Watchlists']['traktrss']}" data-toggle="tooltip" title="${_('Separate lists with commas')}">
                </div>

                <div class="col-md-12"></div>

                <div class="col-md-3">
                    <label>${_('Trakt Lists')}</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i id="collected" class="mdi mdi-checkbox-blank-outline c_box" data-sub-category="traktlist" value="${config['Watchlists']['Traktlists']['collected']}"></i>
                            </span>
                        </div>
                        <span class="input-group-item form-control">
                            ${_('Collected')}
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <label>&nbsp;</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i id="popular" class="mdi mdi-checkbox-blank-outline c_box" data-sub-category="traktlist" value="${config['Watchlists']['Traktlists']['popular']}"></i>
                            </span>
                        </div>
                        <span class="input-group-item form-control">
                            ${_('Popular')}
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <label>&nbsp;</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i id="anticipated" class="mdi mdi-checkbox-blank-outline c_box" data-sub-category="traktlist" value="${config['Watchlists']['Traktlists']['anticipated']}"></i>
                            </span>
                        </div>
                        <span class="input-group-item form-control">
                            ${_('Anticipated')}
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <label>&nbsp;</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i id="trending" class="mdi mdi-checkbox-blank-outline c_box" data-sub-category="traktlist" value="${config['Watchlists']['Traktlists']['trending']}"></i>
                            </span>
                        </div>
                        <span class="input-group-item form-control">
                            ${_('Trending')}
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <label></label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i id="boxoffice" class="mdi mdi-checkbox-blank-outline c_box" data-sub-category="traktlist" value="${config['Watchlists']['Traktlists']['boxoffice']}"></i>
                            </span>
                        </div>
                        <span class="input-group-item form-control">
                            ${_('Boxoffice')}
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <label></label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i id="watched" class="mdi mdi-checkbox-blank-outline c_box" data-sub-category="traktlist" value="${config['Watchlists']['Traktlists']['watched']}"></i>
                            </span>
                        </div>
                        <span class="input-group-item form-control">
                            ${_('Watched')}
                        </span>
                    </div>
                </div>
            </form>

            <button id="save_settings" class="btn btn-success float-right" onclick="save_settings(event, this)">
                <i class="mdi mdi-content-save"></i>

            </button>

        </div>
    </body>
</html>
