$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #ebebeb !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #033364 !default;
$gray-800: #011f3d !default;
$gray-900: #001429 !default;
$black:    #000 !default;

$blue:    #1976D2 !default;
$indigo:  #3F51B5 !default;
$purple:  #7B1FA2 !default;
$pink:    #C2185B !default;
$red:     #D32F2F !default;
$orange:  #F57C00 !default;
$yellow:  #FBC02D !default;
$green:   #388E3C !default;
$teal:    #00796B !default;
$cyan:    #0097A7 !default;

$primary:       $blue !default;
$secondary:     $gray-700 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-800 !default;
$dark:          $gray-200 !default;

// Options
$enable-rounded: true !default;

// Common
$border-color:  $gray-600 !default;

// Body
$body-color:    $gray-200 !default;
$body-bg:       $gray-900 !default;

// Fonts
$font-family-sans-serif: "Segoe UI", "Source Sans Pro", Calibri, Candara, Arial, sans-serif !default;
$font-size-base: 0.9375rem !default;
$headings-font-weight:   300 !default;

// Navbar
$navbar-light-color:                $gray-400 !default;
$navbar-light-hover-color:          $gray-200 !default;
$navbar-light-active-color:         $gray-200 !default;

$dropdown-link-color:               $gray-200 !default;
$dropdown-header-color:             $gray-400 !default;
$dropdown-bg:                       $gray-900 !default;
$dropdown-border-color:             $border-color !default;
$dropdown-divider-bg:               $border-color !default;

// Cards
$card-bg:                           $light !default;

// Modals
$modal-content-bg:               $body-bg !default;
$modal-header-border-color:      $border-color !default;

// List Groups Alternating Rows
$list-group-bg:                     $body-bg !default;

// Input and Forms
$input-color:                           $gray-800 !default;
$input-group-addon-color:               $body-color !default;
$input-group-addon-bg:                  $gray-800 !default;
$input-group-addon-border-color:        $border-color !default;
