form{

    overflow: auto;
}

h1{
    margin-top: 0.75em;
}

form input{
    line-height: 1.5em;
}

form input[type="time"]{
    padding-top: 0;
    padding-bottom: 0;
}

label{
    display: inline-block;
}

form > div{
    margin: 0 0 1em 0;
}

.list-group-item{
    overflow: auto;
    line-height: 1.5em;
}

.separator{
    margin-top: 1.5em;
    border-bottom: 1px solid rgba(128, 128, 128, 0.4);
}


.input-group-addon.box_box{
    padding: 0.5em;
}

.input-group-addon.box_box > i.c_box{
    font-size: 1.75em;
}
