<title>Watcher</title>
<meta content="noindex, nofollow" name="robots">
<meta content="${url_base}" name="url_base">
<meta content="true" name="enable_notifs">
<meta content="${language}" name="language">
<meta content="width=device-width,initial-scale=1" name="viewport">

<link rel="icon" type="image/png" href="${url_base}/static/images/favicon.png" />
<link rel="apple-touch-icon" href="${url_base}/static/images/logo_bg.png" />

<link href="${url_base}/static/css/themes/${uitheme or 'Default'}.css?v=010" rel="stylesheet">
<link href="${url_base}/static/css/lib/materialdesignicons.min.css?v=010" rel="stylesheet">
<link href="${url_base}/static/css/style.css?v=012" rel="stylesheet">

<script src="${url_base}/static/js/lib/jquery.310.min.js?v=010" type="text/javascript"></script>
<script src="${url_base}/static/js/lib/bootstrap.bundle.min.js?v=010" type="text/javascript"></script>
<script src="${url_base}/static/js/lib/bootstrap-notify.min.js?v=010" type="text/javascript"></script>
<script src="${url_base}/static/js/shared.js?v=013" type="text/javascript"></script>
<script src="${url_base}/static/js/localization.js?v=010" type="text/javascript"></script>

<script id="notifications_json">
    ${notifications}
</script>



