<title>Watcher</title>
<meta content="noindex, nofollow" name="robots">
<meta content="${url_base}" name="url_base">
<meta content="width=device-width,initial-scale=1" name="viewport">

<link href="${url_base}/static/css/themes/${uitheme or 'Default'}.css?v=06.02" rel="stylesheet">
<link href="${url_base}/static/css/lib/materialdesignicons.min.css?v=06.02" rel="stylesheet">
<link href="${url_base}/static/css/style.css?v=06.07" rel="stylesheet">

<script src="${url_base}/static/js/lib/jquery.310.min.js?v=06.14"  type="text/javascript"></script>
<script src="${url_base}/static/js/lib/bootstrap.min.js?v=06.14"  type="text/javascript"></script>
<script src="${url_base}/static/js/lib/bootstrap-notify.min.js?v=06.14"  type="text/javascript"></script>
<script src="${url_base}/static/js/shared.js?v=06.15"  type="text/javascript"></script>

<textarea id="notifications_json" class="hidden">
    ${notifications}
</textarea>



