<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <i class="mdi mdi-menu"></i>
            </button>
            <a href="${url_base}/library/status">
              <img src="${url_base}/static/images/logo.png" alt="" class="navbar-brand">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav">
                <li class="dropdown ${'active' if current == 'library' else ''}">
                    <a href="${url_base}/library/status" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        ${_('Library')}
                        <i class="mdi mdi-chevron-down"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="${url_base}/library/status">
                                <i class="mdi mdi-bookmark"></i> ${_('Status')}
                            </a>
                        </li>
                        <li>
                            <a href="${url_base}/library/manage">
                                <i class="mdi mdi-briefcase"></i> ${_('Manage')}
                            </a>
                        </li>
                        <li>
                            <a href="${url_base}/library/import">
                                <i class="mdi mdi-archive"></i> ${_('Import')}
                            </a>
                        </li>
                        <li>
                            <a href="${url_base}/library/stats">
                                <i class="mdi mdi-chart-bar"></i> ${_('Stats')}
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="${'active' if current == 'add_movie' else ''}">
                    <a href="${url_base}/add_movie">${_('Add Movie')}</a>
                </li>
                <li class="dropdown ${'active' if current == 'settings' else ''}">
                    <a href="${url_base}/settings/server" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        ${_('Settings')}
                        <i class="mdi mdi-chevron-down"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="${url_base}/settings/server">
                                <i class="mdi mdi-server"></i> ${_('Server')}
                            </a>
                        </li>
                        <li>
                            <a href="${url_base}/settings/search">
                                <i class="mdi mdi-magnify"></i> ${_('Search')}
                            </a>
                        </li>
                        <li>
                            <a href="${url_base}/settings/quality">
                                <i class="mdi mdi-video"></i> ${_('Quality')}
                            </a>
                        </li>
                        <li>
                            <a href="${url_base}/settings/indexers">
                                <i class="mdi mdi-sitemap"></i> ${_('Indexers')}
                            </a>
                        </li>
                        <li>
                            <a href="${url_base}/settings/downloader">
                                <i class="mdi mdi-download"></i> ${_('Downloader')}
                            </a>
                        </li>
                        <li>
                            <a href="${url_base}/settings/postprocessing">
                                <i class="mdi mdi-file-video"></i> ${_('Postprocessing')}
                            </a>
                        </li>
                        <li>
                            <a href="${url_base}/settings/plugins">
                                <i class="mdi mdi-puzzle"></i> ${_('Plugins')}
                            </a>
                        </li>
                        <li>
                            <a href="${url_base}/settings/logs">
                                <i class="mdi mdi-clipboard-text"></i> ${_('Logs')}
                            </a>
                        </li>
                        <li>
                            <a href="${url_base}/settings/system">
                                <i class="mdi mdi-memory"></i> ${_('System')}
                            </a>
                        </li>
                        <li class="divider"></li>
                        %if show_logout:
                        <li data-toggle="modal" data-target="#modal_logout">
                            <a>
                                <i class="mdi mdi-logout"></i> ${_('Log Out')}
                            </a>
                        </li>
                        %endif
                        <li>
                            <a data-toggle="modal" data-target="#modal_restart">
                                <i class="mdi mdi-restart"></i> ${_('Restart')}
                            </a>
                        </li>
                        <li>
                            <a data-toggle="modal" data-target="#modal_shutdown">
                                <i class="mdi mdi-power"></i> ${_('Shut Down')}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>

            <div class="navbar-right btn-group">
                <a class="btn text-primary" href="https://www.reddit.com/r/watcher/" target="_blank" rel="noopener">
                    <i class="mdi mdi-reddit"></i>
                </a>
                <a class="btn text-primary" href="https://github.com/nosmokingbandit/watcher3" target="_blank" rel="noopener">
                    <i class="mdi mdi-github-circle"></i>
                </a>
            </div>
        </div>
    </div>
</nav>


<!-- Modal for Log Out, Restart, and Shutdown -->
<div class="modal fade" id="modal_logout">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">${_('Log Out?')}</h4>
            </div>
            <div class="modal-footer">
                <div class="btn-group btn-group-justified">
                    <a class="btn btn-default" data-dismiss="modal">${_('Cancel')}</a>
                    <a class="btn btn-warning" onclick="logout(event)">${_('Log Out')}</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_shutdown">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">${_('Shut Down Watcher?')}</h4>
            </div>
            <div class="modal-footer">
                <div class="btn-group btn-group-justified">
                    <a class="btn btn-default" data-dismiss="modal">${_('Cancel')}</a>
                    <a href="${url_base}/system/shutdown" class="btn btn-danger">${_('Shut Down')}</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_restart">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">${_('Restart Watcher?')}</h4>
            </div>
            <div class="modal-footer">
                <div class="btn-group btn-group-justified">
                    <a class="btn btn-default" data-dismiss="modal">${_('Cancel')}</a>
                    <a href="${url_base}/system/restart" class="btn btn-warning">${_('Restart')}</a>
                </div>
            </div>
        </div>
    </div>
</div>
