<!DOCTYPE HTML5>
<html>
    <head>
        ${head}
        <link href="${url_base}/static/css/system.css?v=001" rel="stylesheet">
        <script src="${url_base}/static/js/system.js?v=004" type="text/javascript"></script>
        <script src="${url_base}/static/js/settings/shared.js?v=002" type="text/javascript"></script>
        <script src="${url_base}/static/js/lib/liteuploader.min.js?v=001" type="text/javascript"></script>

        <meta name="tasks" content='${tasks}'>
        <meta name="server_time" content="${server_time[1]}">
    </head>
    <body>
        ${navbar}
        <div class="container-fluid">

            <h2>${_('System Information')}</h2>
            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <i class="mdi mdi-clock"></i>${_('Server Time')}
                        </div>
                        <div id="server_time" class="panel-footer">
                            ${server_time[0]}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <i class="mdi mdi-language-python"></i>${_('Watcher Directory')}
                        </div>
                        <div class="panel-footer">
                            ${system['system']['path']}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <i class="mdi mdi-database"></i>${_('Database')}
                            <span class="pull-right">[${system['database']['size']} KB]</span>
                        </div>
                        <div class="panel-footer">
                            ${system['database']['file']}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <i class="mdi mdi-settings"></i>${_('Config')}
                        </div>
                        <div class="panel-footer">
                            ${system['config']['file']}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <i class="mdi mdi-console"></i>${_('Launch Arugments')}
                        </div>
                        <div class="panel-footer">
                            [Python ${system['system']['version']}]
                            ${' '.join(system['system']['arguments'])}
                        </div>
                    </div>
                </div>
            </div>

            <h2>${_('Backup')}</h2>
            <div class="col-md-12">
                <a class="btn btn-default" data-toggle="modal" data-target="#modal_create_backup">
                    <i class="mdi mdi-package-variant-closed"></i>
                    ${_('Create Backup')}
                </a>
                <a class="btn btn-default" data-toggle="modal" data-target="#modal_restore_backup">
                    <i class="mdi mdi-backup-restore"></i>
                    ${_('Restore Backup')}
                </a>
            </div>
            <br/>
            <br/>

            <h2>${_('Task Scheduler')}</h2>
            <table id="tasks" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>${_('Enabled')}</th>
                        <th>${_('Name')}</th>
                        <th>${_('Frequency')}</th>
                        <th>${_('Last Execution')}</th>
                        <th>${_('Next Execution')}</th>
                        <th class="center">${_('Execute Now')}</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>

            <div id="donate">
                <a href="bitcoin:17BfQVGCsmHBNkVVbL1GxhhYFUMX2uytaT?label=Watcher">
                <i class="mdi mdi-gift"></i>
                <span>17BfQVGCsmHBNkVVbL1GxhhYFUMX2uytaT</span>
            </div>
        </div>

        <div class="modal fade" id="modal_create_backup">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">${_('Create Backup of Watcher?')}</h4>
                    </div>
                    <div class="modal-body">
                        ${_('A backup will be made of your <b>database</b>, <b>posters</b>, and <b>config</b>.')}
                        <div class="thinker_small">
                            <i class="mdi mdi-circle-outline animated"></i>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="btn-group btn-group-justified">
                            <a class="btn btn-default" data-dismiss="modal">${_('Close')}</a>
                            <a class="btn btn-success" onclick="create_backup(event, this)">${_('Create Backup')}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modal_restore_backup">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">${_('Restore Backup of Watcher?')}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="text_content">
                            ${_('Restoring a backup will overwrite your <b>database</b>, <b>posters</b>, and <b>config</b>.<br/>This cannot be undone.<br/>Watcher will automatically restart after backup has been restored.')}
                            <br/>
                            <div class="input-group">
                                <label class="btn btn-default input-group-btn" for="zip_file">
                                    <input id="zip_file" type="file" name="fileUpload" class="fileUpload" style="display:none;" onchange="_restore_zip_selected(this)"></input>
                                    <i class="mdi mdi-zip-box"></i>
                                    ${_('Select Backup Zip')}
                                </label>
                                <input id="zip_file_input" class="form-control input-group-item" disabled></input>
                            </div>
                        </div>
                        <div class="thinker_small">
                            <i class="mdi mdi-circle-outline animated"></i>
                        </div>
                        <div class="progress hidden">
                            <div class="progress-bar"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="btn-group btn-group-justified">
                            <a class="btn btn-default" data-dismiss="modal">${_('Close')}</a>
                            <a id="submit_restore_zip" class="btn btn-success disabled" onclick="upload_restore_zip(event, this)">${_('Restore Backup')}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
