ul#result_list{
    background-color: #bdbdbd;
}

ul#result_list li.bbord{
    border-bottom: 1px solid #eee;
}

span.bad{
    color: #F44336;
}

li.data span.snatched{
    color: #00BCD4;
}

li.data span.finished{
    color: #4CAF50;
}
