/* Posters layout */
ul#movie_list.posters li div img{
    border: solid #212121;
    border-width: 0 1px 1px 1px;
}

ul#movie_list.posters li div span.status{
    color: #212121;
    border: 1px solid #212121;
}

/* List layout */
ul#movie_list.list li:nth-child(odd) div{
    background-color: #bdbdbd;
}

ul#movie_list.list li div span.status{
    color: #212121;
}

ul#movie_list.list li span.movie_info span.title{
    display: block;
}

/* Compact layout */
ul#movie_list.compact li div{
    border: 1px solid #eee;
    border-radius: 4px;
}

ul#movie_list.compact li:nth-child(odd) div{
    background-color: #bdbdbd;
}

ul#movie_list.compact li div span.status{
    color: #212121;
}

/* Status colors */
div#key span.wanted,
ul#movie_list li div span.wanted{
    background-color: #FF9800;
}

div#key span.searching,
ul#movies_list li div span.searching{
    background-color: #FFC107;
}

div#key span.found,
ul#movie_list li div span.found{
    background-color: #CDDC39;
}

div#key span.snatched,
ul#movie_list li div span.snatched{
    background-color: #00BCD4;
}

div#key span.finished,
ul#movie_list li div span.finished{
    background-color: #4CAF50;
}

#status_pop_up {
    background: #eee;
}
