body, html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

div#content{
    position: relative;
    height: 100%;
    background-image: url('../../images/logo_big.png');
    background-position: 50% 25%;
    background-repeat: no-repeat;
    transition: 2s;
}

div.message{
    font-size: 1.75em;
    position: absolute;
    left: 0;
    right: 0;
    top: 70%;
    text-align: center;
}

div#thinker{
    width: 4em;
    height: 1em;
    bottom: calc(50% - 0.5em);
    right: calc(50% - 2em);
}
